.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #115579, #365d9b);
  font-family: "Segoe UI", sans-serif;
}

.login-card {
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

.login-card h2 {
  margin-bottom: 5px;
  font-weight: 600;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 25px;
  opacity: 0.85;
}

.input-group {
  text-align: left;
  margin-bottom: 18px;
}

.input-group label {
  font-size: 13px;
  margin-bottom: 6px;
  display: block;
}

.input-group input {
  width: 94%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  transition: 0.3s ease;
}

.input-group input:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.login-btn {
  width: 50%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  background: white;
  color: #365d9b;
  transition: all 0.3s ease;
  /* margin-left: 5px; */
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.login-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.error-text {
  color: #ffcccc;
  font-size: 13px;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
